# =========================
# Terraform
# =========================
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars.json
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# Terraform lock info (اختياري)
# لو عايز تحافظ على provider versions سيبه
.terraform.lock.hcl

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Secrets / Keys
# =========================
*.pem
*.key
*.crt
*.p12

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# =========================
# Logs
# =========================
*.log
